<% include ../partials/header %>

<div id="home" class="container">
	<h1 class="text-center">Foozlander Passes</h1>
	<p><%= data.message %></p>

	<a class="btn btn-lg btn-primary btn-block" href="<%= data.authURL %>">Signin to Foozlander</a>
</div>

<% include ../partials/footer %>